img{max-width: 100%;}
.bg-image{
    background-image: url(images/desktopbg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    max-width: 100%;

}
.lets{
  margin: 0 20% 0 20%;
}
.let{
   width: 50%;
  }
.bg-desk{
background-image: url(images/ImgPlaholder.png);
background-size: cover;
background-repeat: no-repeat;
max-width: 100%;
}
